/* ----------------------------------------
				Footer
------------------------------------------*/
.mainFooter{}
.separatorImg{}
	.separatorImg>img{
		display: block;
		width: 100%;
	}

	.mainFooter__widget{}
		.widget__col{
			padding-top: 40px;
			padding-bottom: 40px;
		}
.mainFooter-logo{
	margin-bottom: 20px;
}
	.mainFooter-logo.logo .logo__link{
		position: initial;
		display: block;
	}
	.mainFooter-logo.logo .logo__link-img{
		height: auto;
		width: 100%;
		max-width: 157px;
	}

.mainFooter-nav{}
	.mainFooter-nav__ul{
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
		.mainFooter-nav__ul>li{}
			.mainFooter-nav__ul>li>a{
				padding-left: 20px;
				color: #868686;
				font-size: 14px;
				display: block;
				position: relative;
			}
			.mainFooter-nav__ul>li>a:hover,
			.mainFooter-nav__ul>li>a:active,
			.mainFooter-nav__ul>li>a:focus,
			.mainFooter-nav__ul>li.current-menu-item>a{
				color: #b91616;
				text-decoration: none;
			}
			.mainFooter-nav__ul>li>a:hover:before,
			.mainFooter-nav__ul>li>a:active:before,
			.mainFooter-nav__ul>li>a:focus:before,
			.mainFooter-nav__ul>li.current-menu-item>a:before{
				content: "\A";
				border-style: solid;
				border-width: 5px;
				border-color: transparent transparent transparent #bc2425;
				position: absolute;
				left: 5px;
				top: calc(50% - 5px);
			}




/* CopyRight */

.mainFooter__copyRight{
	border-top: 5px solid #b2b2b2;
}

.copyRight__text{
	margin: 40px auto;
	display: block;
}